/* color pallate: https://coolors.co/2ebfa5-bc69aa-4d9de0-f5f5f5-f26430 */

.base{
  height: 500px;
  width: 500px;
  background-color: rgb(226, 226, 226);
  border-radius: 5%;
  padding-top: 15px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #7D7D7D;
}

#t_base1{
  height: 250px;
  width: 270px;
  background-color: rgba(245, 245, 245);
  border-radius: 5%;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #7D7D7D;
  padding-top: 5px;
  margin: 10px;
}

.solvedText {
  text-align: center;
  font-family: "Mario";
  font-size: 40px;
  color: green;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}